.rich-text-editor {
    direction: ltr !important;
    text-align: left !important;
    unicode-bidi: plaintext !important;
  }
  
  .rich-text-editor * {
    direction: ltr !important;
    text-align: left !important;
    unicode-bidi: plaintext !important;
  }